In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt

In [25]:
data = pd.read_csv("E:\waterquality\water_potability.csv")

In [14]:
from sklearn.metrics import confusion_matrix

In [37]:
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

# sort_values

In [42]:
data.sort_values('ph',na_position= 'last').tail()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3224,NaN,198.218700,31081.735264,7.419106,NaN,517.925946,11.711419,85.428785,3.345543,1
3229,NaN,203.204659,10643.186771,6.828936,NaN,384.597711,16.011328,72.911573,3.065910,1
3231,NaN,225.754109,28194.452646,5.892830,366.201583,418.272901,17.306832,103.912548,3.855895,1
3245,NaN,188.536608,24711.414927,7.129520,NaN,555.548534,16.959269,56.038702,4.331691,1
3260,NaN,134.736856,9000.025591,9.026293,NaN,428.213987,8.668672,74.773392,3.699558,1

rename

In [44]:
data.rename(columns={'ph':'ph1'})

,ph1,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

drop

In [48]:
data.drop(columns=['ph','Hardness'])

,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...
3271,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [49]:
data[data['ph']>8]

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
...,...,...,...,...,...,...,...,...,...,...
3265,8.197353,203.105091,27701.794055,6.472914,328.886838,444.612724,14.250875,62.906205,3.361833,1
3266,8.372910,169.087052,14622.745494,7.547984,NaN,464.525552,11.083027,38.435151,4.906358,1
3267,8.989900,215.047358,15921.412018,6.297312,312.931022,390.410231,9.899115,55.069304,4.613843,1
3269,11.491011,94.812545,37188.826022,9.263166,258.930600,439.893618,16.172755,41.558501,4.369264,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1

remove duplicates

In [52]:
data.drop_duplicates('ph')

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [53]:
data.sample(n=8)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3119,6.847863,234.942203,24456.174888,5.596241,334.873046,337.573151,9.515292,77.297300,4.921196,1
733,9.239440,212.569076,14829.624212,7.172920,324.128915,575.421968,16.581120,66.885270,3.471971,1
818,5.433466,177.828302,31421.731633,4.584134,347.097354,490.284674,16.066439,58.416699,2.871196,1
2492,10.164173,243.606508,16522.715754,3.992171,310.845072,487.698052,17.223237,83.871496,3.530941,0
2465,5.097786,182.819015,23590.313712,9.128798,326.334863,445.562644,15.137781,68.608103,4.829323,0
2279,7.539742,201.959317,26716.359708,5.637350,NaN,516.354560,14.985649,83.536821,4.210678,0
961,6.776879,189.438813,19663.791312,8.386404,375.457345,420.357392,14.831560,61.050420,3.322065,0
1389,9.395842,162.157700,9225.770911,8.275035,NaN,451.524629,12.632707,80.249886,3.530498,0

In [66]:
data['potability'].filter(regex='1')

KeyError: 'potability'

In [69]:
data.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [71]:
data.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690297,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833607,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762127,8.114887,359.950170,481.792304,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

In [74]:
data.iloc[:,[2,3,5]]

            Solids  Chloramines  Conductivity
0     20791.318981     7.300212    564.308654
1     18630.057858     6.635246    592.885359
2     19909.541732     9.275884    418.606213
3     22018.417441     8.059332    363.266516
4     17978.986339     6.546600    398.410813
...            ...          ...           ...
3271  47580.991603     7.166639    526.424171
3272  17329.802160     8.061362    392.449580
3273  33155.578218     7.350233    432.044783
3274  11983.869376     6.303357    402.883113
3275  17404.177061     7.509306    327.459760

[3276 rows x 3 columns]

In [77]:
data.loc[:,'ph':'Sulfate']

            ph    Hardness        Solids  Chloramines     Sulfate
0          NaN  204.890455  20791.318981     7.300212  368.516441
1     3.716080  129.422921  18630.057858     6.635246         NaN
2     8.099124  224.236259  19909.541732     9.275884         NaN
3     8.316766  214.373394  22018.417441     8.059332  356.886136
4     9.092223  181.101509  17978.986339     6.546600  310.135738
...        ...         ...           ...          ...         ...
3271  4.668102  193.681735  47580.991603     7.166639  359.948574
3272  7.808856  193.553212  17329.802160     8.061362         NaN
3273  9.419510  175.762646  33155.578218     7.350233         NaN
3274  5.126763  230.603758  11983.869376     6.303357         NaN
3275  7.874671  195.102299  17404.177061     7.509306         NaN

[3276 rows x 5 columns]

In [20]:
y_true = ['1','0','0','1','0','1','1','0']
y_pred = ['1','0','1','1','1','1','1','1']

In [21]:
print(confusion_matrix(y_true,y_pred))

[[1 3]
 [0 4]]

In [22]:
count = 0
for i,j in zip(y_true,y_pred):
    if(i==j):
        count += 1
print(count)

5

In [23]:
accuracy = count/len(y_pred)

In [24]:
print(accuracy)

0.625